<div id="list-container" data-tag="{{tag.name}}">
{{#each posts}}
  <div class="post-list-elem" data-post-tags="{{tags separator=' ' autolink='false'}}" data-post-url="{{ url }}">
    <div class="title-a"><a href="{{ url }}">{{ title }}</a></div>
    <div class="author-a">{{ author }}</div>
  </div>
{{else}}
  <div class="call-to-action">Looks like this collection's still empty.  Want to get involved?  <a href="mailto:contact@knik.co">Email us</a>.</div>
{{/each}}
</div>
<div class="clear"></div>
