<div id="map-container"></div>
<div id="list-container" data-tag="{{tag.name}}">
{{#is "tag"}}
  {{#foreach posts }}
    <a class="no-decoration" href="{{ url }}">
      <div class="medium box multigray" data-post-tags="{{tags separator=' ' autolink='false'}}" style="background-image: url({{ image }});">
        <div class="post-author">
          <div class="post-author-image" style="background-image: url({{ author.image }});"></div>
          <div class="post-author-name">{{{ author.name }}}</div>
        </div>
        <div class="newtitle">{{{ title }}}</div>
      </div>
    </a>
  {{else}}
    <div class="call-to-action">Looks like this collection's still empty.  Want to get involved?  <a href="mailto:contact@knik.co">Email us</a>.</div>
  {{/foreach}}
{{else}}
  {{#foreach posts from="3" to="10"}}
  <a class="no-decoration" href="{{ url }}">
    <div class="medium box multigray" style="background-image: url({{ image }});">
      <div class="post-author">
        <div class="post-author-image" style="background-image: url({{ author.image }});"></div>
        <div class="post-author-name">{{{ author.name }}}</div>
      </div>
      <div class="newtitle">{{{ title }}}</div>
    </div>
  </a>
  {{/foreach}}
{{/is}}
</div>
<div class="clear"></div>
