<a href="{{ posts.0.url }}">
  <div class="big box">
    <div class="image cover" style="background-image: url({{ posts.0.image }});"></div>
    <div class="title">{{{ posts.0.title }}}</div>
  </div>
</a>
<div id="right-container">
  <a href="{{ posts.1.url }}">
    <div class="little box">
      <div class="image cover" style="background-image: url({{ posts.1.image }});"></div>
      <div class="title">{{{ posts.1.title }}}</div>
    </div>
  </a>
  <a href="{{ posts.2.url }}">
    <div class="little box">
      <div class="image cover" style="background-image: url({{ posts.2.image }});"></div>
      <div class="title">{{{ posts.2.title }}}</div>
    </div>
  </a>
  <a href="{{ posts.3.url }}">
    <div class="medium box">
      <div class="image cover" style="background-image: url({{ posts.3.image }});"></div>
      <div class="title">{{{ posts.3.title }}}</div>
    </div>
  </a>
</div>
