<div id="header" style="background-image: url({{asset "images/header.png"}})">
  <div id="navigation-container">
    <div id="logo">
      <a href="{{@blog.url}}">{{@blog.title}}</a>
    </div>
    <div id="button-container">
      {{#foreach navigation}}
        <div class="nav-item">
          <a href="{{ url }}">{{ label }}</a>
        </div>
      {{/foreach}}
    </div>
  </div>
</div>
